<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:gap="http://phonegap.com/ns/1.0" version="1.0.0" id="org.hugodovalle.cenourapp"
        >
    <name>Só de Cenoura</name>

    <description>
        Menu do restaurante Só de Cenoura
    </description>

    <author href="www.tiic.com.br" email="hugo@tiic.com.br">
        Hugo do Valle
    </author>

    <icon src="icone.png" />
    <gap:splash src="splash.png" />

    <preference name="orientation" value="portrait" />
    <preference name="fullscreen" value="true" />
    <preference name="permissions" value="none" />
    <gap:platform name="android" />

</widget>
